@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto&family=RobotoMono&display=swap');

body {
    background-color: #000C17;
    color: #FFF5E6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #FFBC52;
    font-family: 'Alata', sans-serif;
}

a, a:visited {
    color: inherit;
}

input[type="text"] {
    background-color: inherit;
    color: inherit;
    border-style: none;
    border: 1px solid #FFBC52;
    padding: 0.5em;
    font-family: inherit;
    font-size: 1em;
}

button {
    background-color: #FFBC52;
    padding: 1em;
    border-style: none;
}

header {
    padding: 1em;
    margin: 1em 1em 0 1em;
    text-align: center;
    background-color: #001B33;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

main {
    padding: 2em 1em;
    margin: 0 1em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    background-color: #001426;
}

footer {
    padding: 1em;
    margin-top: 3em;
    text-align: center;
}

#image-preview {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 1em 0;
}

#image-preview img,
#image-preview svg {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-image {
    /* for debugging purpose you can make it visible */
    display: none;
    height: 500px;
    width: 500px;
}
